.register {
  width: 60%;
  margin: 100px auto;
  border: 1px solid  var( --border);
  border-radius: 5px;
  padding: 20px;
  .registhead {
    margin: -40px 0 20px 0;

      h2 {
          display: inline-block;
          padding: 5px 88px;
          background-color: #f44336;
          border-radius: 30px;
          font-size: 28px;
          color: var(--white);
      }
  }
  mat-form-field {
      width: 100%;
  }
  mat-radio-button {
    margin-right: 30px;
  }
  .registfoot {
      justify-content: space-between;
      button {
          margin-top: 15px;
          padding: 0px 30px;
          font-size: 18px;
      }
  }

}
a {
  text-decoration: none;
}

// .alert-danger {
//   background-color: #f44336c4;
//   color:#FFF;
//   margin-top: 15px;
//   font-size: 18px;
// }
