:host {
  ::ng-deep {
    .students {
      padding: 50px 0;
      table {
        width: 100%;
        thead {
          tr {
            background-color: #7a36f4;
            th {
              color: #fff;
              font-size: 22px;
              text-align: center;
            }
            // [dir=rtl] .mdc-data-table__cell {
            //   text-align: right;
            // }
          }
        }
      }
    }
  }
}
.mdc-data-table__cell {
  text-align: center !important;
}
